.Rhistory
.ipynb_checkpoints

**/.DS_Store
**/Icon

lessons/C00_Sources
#lessons/C01
lessons/C02
lessons/C03
lessons/C04
lessons/C05
lessons/C06
lessons/C07
lessons/C08
lessons/C09
lessons/C10
lessons/C11
lessons/C12
lessons/C13
lessons/C14
lessons/C15
lessons/C16
lessons/C17
lessons/C18
lessons/C19